* {
    margin: 0;
    padding: 0;
  }

  #navbar {
    
    display: flex;
    height: 70px;
    width: 100%;
    color: white;
    background-color: black;
    
  }

  #title{
    display: flex;
    width: 40%;
    justify-content: center;
    align-items: center;
  }

  #menus{
    display: flex;
    width: 60%;
    justify-content: center;
    align-items: center;

  }
  a{
    text-decoration: none;
    color: white;
    margin-right: 50px;
    
  }

  #mainconteiner{
    width: 1000px;
    height:500px ;
    margin: 50px auto;
    border-radius: 20px;
    box-shadow: 0 0 10px black;

  }

  #productcontainer{
    display: flex;
    flex-direction: row;
    margin: 20px auto;
  }
  img{
    margin: 20px;
  }
  dl{
    padding: 30px;
  }

  dt{
    font-weight:bold ;
  }
  dd{
    margin-left: 15px;
    margin-bottom: 15px;
}
button{
  margin-right: 10px;
}
  #footer{
    display: flex;
    background-color: black;
    color: white;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 30px;
    
   
  }